html {
  margin: -20px;
  margin-top: -40px;
  background: url("../images/dark_geometric.png") repeat scroll left top #FFFFFF;
}
body {
  font-family: 'Ubuntu';
  background: url("../images/vichy.png") repeat scroll left top #FFFFFF;
}

header {
  height: 100px;
  background: url("../images/dark_geometric.png") repeat scroll left top #FFFFFF;
  background: 
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: 'Arvo';
}
header h1 {
  position: relative;
  text-align: center;
  top: 30%;

  font-size: 54px;
  font-family: 'Abril Fatface';
  font-weight: lighter;
  letter-spacing: -2px;
}
header #marc {
  color: #00C8FF;
  text-shadow: 0px 0px 3px #00C8FF;
}
header #adam {
  margin-left: -4px;
  text-shadow: 0px 0px 3px #00C8FF;
}
nav {
  background-color: #333;
  text-align: center;
  margin-top: -14px;
}
nav ul {
  margin-left: -35px;
}
nav ul li {
  display: inline;
  padding: 5px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  text-shadow: 0 1px 0 #000000;
  -moz-transition: color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}
nav ul li a:focus {
  outline: 0;
}
nav ul li a:hover {
  color: #FFB300;
  text-shadow: 0px 0px 3px #FFB300;
  -webkit-transition: color .25s linear;
  -moz-transition: text-shadow 0.25s linear;
  transition: color .25s linear;
}

section {
  display: none;
  padding: 10%;
  padding-top: 2%;
  padding-bottom: 2%;

  margin-top: -16px;
  box-shadow: 0 1px 5px #0081FF inset;
}
section ul li {
  color: #000;
  text-shadow: 0 0 2px #FFFFFF;
}

section h3 {
  font-size: 19px;
  color: #fff;
  text-shadow: 0 0px 1px #0051FF;
}
section p {
  font-size: 16px;
  color: #000;
  // text-shadow: 0 1px 1px #FFFFFF;
  text-shadow: 0 0 2px #FFFFFF;

}
section #intro {
  width: 60%;
}
footer {
  text-align: center;
  background-color: #333;
}
footer a { 
  padding: 30px;
  padding-top: 0px;
  color: #fff;
}
#home {
  display: block;
}
footer #hr {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.7);
}
